<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tasty Trails</title>
  </head>
  <body>
    <!-- skip to content -->
    <a href="#main-content" class="skip-link">Go to content</a>
    <!-- heading -->
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Tasty Trails</h1>
      </div>
      <a href="" id="menu" class="header__menu">☰</a>
    </header>

    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">HOME</a></li>
        <li class="nav__item"><a href="#">FAVORITE</a></li>
        <li class="nav__item">
          <a href="https://www.instagram.com/hokirezky/">ABOUT US</a>
        </li>
      </ul>
    </nav>
    <!-- end heading -->

    <!-- Hero -->
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Find Your Best Culinary Experience</h1>
        <p class="hero__tagline">
          Explore a wide selection of the best restaurants in your city
        </p>
      </div>
    </div>
    <!-- end hero -->

    <!-- main content -->
    <main tabindex="0">
      <section class="content" id="main-content">
        <div class="latest">
          <h1 class="latest__label">Restorant Recommendation</h1>
          <div class="posts"></div>
        </div>
      </section>
    </main>
    <!-- end main content -->

    <!-- footer -->
    <footer>
      <div class="footer">
        <span class="footer__text">Copyright 2023 ©️ - Tasty Trails</span>
      </div>
    </footer>
    <!-- end footer -->
  </body>
</html>
